<div class="container row p-4">
    <div class="col-md-6">
        <h4>Total Users {{ totalUsers }}</h4>
        <div class="">
            <p-chart type="doughnut" [data]="dataUserByFemaleAndMale"></p-chart>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Total Categories {{ totalCategories }}</h4>
        <div class="">
            <p-chart
                type="doughnut"
                [data]="dataCategoryByProductsCount"
            ></p-chart>
        </div>
    </div>
</div>
