
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css"; // Example of a pre-built theme


html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('../public/background/image.png');
    background-size: cover; /* Make sure the image covers the entire body */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the background image */

}
