.container {
    padding: 20px;
  }
  
  .p-table {
    width: 100%;
    margin: 20px 0;
  }
  
  .p-table .p-sortable-column {
    cursor: pointer;
  }
  
  .product-image {
    width: 100px; /* Adjust the size as needed */
    height: auto;
  }
  