
<mat-card class="product-card" appearance="outlined" mat-raised-button matBadge="{{product.price}}" matBadgePosition="before"  >
  <mat-card-header>
    
    <mat-card-title>{{ product?.name }}</mat-card-title>
    
  </mat-card-header>

 
    <img mat-card-image [src]="getImageUrl()" alt="{{ product?.name }}" />

  <mat-card-content>
    <p><small class="text-muted">Created on: {{ product?.createdAt  }}</small></p>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button (click)="viewDetails()">Details</button>
    <button mat-button (click)="orderProduct()">Order</button>
  </mat-card-actions>

</mat-card>
